body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; top: 50%; left: 50%}
a:hover { text-decoration: underline;}

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* Work */
.work { margin: 0px 0px 60px; }
.work h1 { font-size: 2.7em; color: #696969 }
.work h2 { font-size: 2.3em; }
.work h3 { font-size: 1em; }
.work address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.work address, .cv p { font-size: 1.2em; }
.work .download { float: right; font-size: .8em; text-transform: uppercase; }

/* Home doesnt work */  
/*.home home-title {
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #B576D2;
}*/
.home .home-title { 
	font-size: 3em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #B576D2;
 }
.home .home-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
.home .home-bio {
		font-size: 1.2em;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}






