body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; 	margin-left: auto;
	margin-right: auto;
	text-align: center; }
a:hover { text-decoration: underline; color: #9932CC;}

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; font-family: 'Arial'; }

h1, h2, h3, h4 { font-family: 'Arial'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Arial'; padding: 0px; list-style: none;  }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* Work */
.work { margin: 0px 0px 60px;  font-family: 'Arial'; }
.work h1-work { font-size: 1.8em; display: block; padding-bottom: 0.5em; padding-top: 1em; }
.work h2-work { font-size: 1.7em; color: #696969; display: block; padding-bottom: 0.5em; padding-top: 0.5em;}
.work h3-work { font-size: 1em; line-height: 1em; color: #333; display: block; padding-bottom: 0.5em; }

/* Home */  
.home .home-title { 
	font-size: 3em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #9932CC;
	font-family: 'Arial';
 }
.home .home-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
.home .home-bio {
		font-size: 1.2em;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-family: 'Arial';
	}

/* Portfolio */

.portfolio h1-portfolio { font-size: 1.7em; display: block; padding-bottom: 1.5em; }




