.containerProject {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 1rem 0;
}

.titleDescriptionContainer {
  margin-bottom: 1rem;
  flex-direction: column;
  flex: 2;
}

.projectTitle {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 2rem;
  text-decoration: none;
}

.projectDescription {
  margin-top: 0.5rem;
  color: #60656c;
}

.codeLinkContainer {
  margin: 1rem 0 0 0.5rem;
  flex-direction: column;
}

.codeLink {
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
  background: #5183f5;
  font-weight: 400;
  padding: 0.5rem 1rem;
}

.codeLink:hover {
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  background: #3b6cdf;
}
