.linkContainer {
  text-decoration: none;
  font-weight: 400;
}

.blogContainer {
  padding: 0rem 0.7rem;
  margin-left: -0.7rem;
  display: flex;
  flex-direction: column;
}

.blogContainer:hover {
  background-color: whitesmoke;
  border-radius: 6px;
}

.blogTitle {
  color: #222;
  font-size: 1.25rem;
}

.dateContainer {
  margin-top: -2rem;
}

.blogDate {
  color: #636363;
  font-size: 0.96rem;
}

.blogTags {
  color: #2a5aa7;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  font-weight: 400;
}

.tag {
  margin-right: 0.5rem;
  padding: 3px 5px 3px 5px;
  font-size: 0.9rem;
  margin-top: -0.8rem;
  margin-right: 0.6rem;
  background-color: #e3ebf7;
  color: #222;
  border-radius: 5px;
  text-align: center;
}

/* DESKTOP RESPONSIVENESS */
@media only screen and (min-width: 520px) {
  .blogContainer {
    display: flex;
    flex-direction: row;
  }
  .dateContainer {
    margin-top: 0.5rem;
    flex: 1;
    text-align: right;
  }

  .titleTagContainer {
    flex: 3;
    margin-right: 1rem;
  }
}

/* TAG COLORS */
.tag-javascript {
  background-color: #fff6d6;
}

.tag-fundamentals,
.tag-evergreen {
  background-color: #e0ffe9;
}

.tag-api,
.tag-interview,
.tag-hacktoberfest,
.tag-open-source {
  background-color: #ffe2f7;
  color: #c81492;
}

.tag-react,
.tag-productivity,
.tag-notes {
  background-color: #dce3ff;
  color: #2543bb;
}

.tag-node {
  background-color: #ffe7de;
  color: #b93201;
}

.tag-deployment,
.tag-project,
.tag-snippets {
  background-color: #eae3ff;
  color: #4714ff;
}
