@import "portfolio.css";


.title {
    margin-top: 3rem;
    text-align: center;
}

.nav-bar {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.about-container {
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.section-title {
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .about-container {
        width: 95%;
    }
}

.footer-icon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}