.container {
  padding: 0 0.7rem;
}

.blogpost {
  margin-bottom: 2rem;
}

.linkContainer {
  display: flex;
  flex-wrap: wrap;
}

.link {
  padding: 1rem 2.5rem;
  border-radius: 6px;
  margin: 0rem 0.7rem 0rem 0rem;
  text-decoration: none;
  background-color: whitesmoke;
  color: #222;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.2s ease;
}

.link:hover {
  background-color: #e6e8eb;
  transform: translate3D(0, -1px, 0);
}

.linkpTag {
  margin: 0.5rem 0 0.5rem 0;
}
