.pageContainer {
  padding: 0 0.7rem;
}

.header {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: #343a40;
}

.sectionTitle {
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #d6d9de;
  color: #343a40;
}

.pageDescription {
  font-size: 1.3rem;
  color: #60656c;
}

.emailContainer {
  margin: 0 auto;
  width: 470px;
  display: flex;
  border-top: 1px dashed #4714ff;
  border-bottom: 1px dashed #4714ff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.emailText {
  padding-left: 0rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
}

.emailCopyBtnContainer {
  padding-right: 0.2rem;
}

.emailText {
  display: flex;
  justify-content: center;
  text-align: center;
}

.emailCopyBtnContainer {
  text-align: center;
  justify-content: center;
  display: flex;
}

.emailCopyBtn {
  color: #222;
  background-color: #eae3ff;
  border-radius: 6px;
  border: none;
  border-bottom: 1px solid #4714ff;
  padding: 0.3rem 0.5rem;
}

.emailCopyBtn:hover {
  cursor: pointer;
  border: none;
}

.emailOpenAppContainer {
  padding-right: 1rem;
  display: flex;
}

.emailOpenAppContainer:hover {
  border: none;
}

.emailOpenApp {
  color: #222;
  background: transparent;
  text-decoration: none;
  font-weight: 400;
  border-radius: 6px;
  background-color: #eae3ff;
  border-radius: 6px;
  border: none;
  border-bottom: 1px solid #4714ff;
  padding: 0.3rem 0.5rem;
}

.emailOpenApp:hover {
  background: #eae3ff;
  transform: none;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  border: none;
}

/* DESKTOP RESPONSIVENESS */
@media only screen and (min-width: 500px) {
  .emailContainer {
    margin: 0 auto;
    width: 470px;
  }

  .emailText {
    padding-left: 1.5rem;
    padding-right: 2rem;
    padding-top: 0.3rem;
  }

  .emailCopyBtnContainer {
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 770px) {
  .pageContainer {
    padding: 0 5rem;
  }
}
