.linkContainer {
  text-decoration: none;
  padding-bottom: 0.2rem;
}

.blogContainer {
  border-bottom: 1px solid #5c8bd6;
  padding: 0.7rem;
}

.blogContainer:hover {
  background-color: whitesmoke;
  border-radius: 4px;
}

.blogContainer:active {
  background-color: whitesmoke;
  border-style: dashed;
  border-width: 1px;
}

.blogTitle {
  color: #222;
  font-size: 1.1rem;
}

.blogTags {
  color: #2a5aa7;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
}

.tag {
  margin-right: 0.5rem;
  border: 1px solid #e3ebf7;
  padding: 4px 4px 2px 4px;
  font-size: 0.9rem;
  margin-top: -0.7rem;
  margin-right: 1rem;
  background-color: #e3ebf7;
  color: #222;
  border-radius: 5px;
  text-align: center;
}

.blogDate {
  color: gray;
  font-size: 0.9rem;
  margin-top: -0.4rem;
}

.categoryName {
  margin-top: 2rem;
  text-transform: capitalize;
}
