.blogPageContainer {
  padding: 0 0.7rem;
}

.header {
  text-align: center;
}

.pageDescription {
  font-size: 1.3rem;
  color: #60656c;
}

.input {
  width: 70%;
  margin: 1rem 0rem 2rem 0rem;
  padding: 6px;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 6px;
}
