.linkContainer {
  text-decoration: none;
  padding-bottom: 0.2rem;
}

.blogContainer {
  border-bottom: 1px solid #5c8bd6;
  padding: 1rem;
}

.blogContainer:hover {
  background-color: whitesmoke;
  border-radius: 4px;
}

.blogContainer:active {
  background-color: whitesmoke;
  border-radius: 4px;
  border-style: dashed;
  border-width: 1px;
}

.blogTitle {
  color: black;
  font-size: 1.1rem;
}

.blogDate {
  color: #333;
  font-size: 0.9rem;
}
