.titleheadermargin,
.titleheader {
  letter-spacing: 0.5px;
}

.titleheadermargin {
  margin-top: 3rem;
}

.resumeButton {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.projectLinksDiv {
  margin-bottom: 2.5rem;
}
