.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-direction: column-reverse;
  padding: 0 0.7rem;
}

.title {
  font-size: 2.2rem;
}

.headshotContainer {
  text-align: left;
}

.headshot {
  width: 10rem;
  border-radius: 6px;
}

/* DESKTOP RESPONSIVENESS */
@media only screen and (min-width: 770px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .aboutContainer {
    margin-right: 2rem;
  }

  .headshot {
    width: 12rem;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 900px) {
  .headshot {
    width: 15rem;
  }
}
