.container {
  margin: 0 auto;
  padding: 0 0.7rem;
}

.bioContainer {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
}

.title {
  font-size: 2.3rem;
  color: #343a40;
}

.bioDescription {
  font-size: 1.2rem;
  color: #60656c;
}

.headshotContainer {
  text-align: left;
}

.headshot {
  width: 10rem;
  border-radius: 6px;
}

.sectionTitle {
  padding-top: 2.5rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #d6d9de;
  color: #343a40;
  font-size: 2rem;
}

.projectsContainer {
  margin-top: 1.5rem;
}

/* DESKTOP RESPONSIVENESS */
@media only screen and (min-width: 770px) {
  .bioContainer {
    display: flex;
    flex-direction: row;
  }

  .aboutContainer {
    margin-right: 2rem;
  }

  .headshot {
    width: 12rem;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 900px) {
  .headshot {
    width: 15rem;
  }
}
