.projectContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.projectTitle {
  flex: 2 0 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.projectTechContainer {
  display: flex;
  flex-direction: row;
}

.projectTech {
  border: 1px solid #e3ebf7;
  padding: 4px 4px 2px 4px;
  font-size: 0.9rem;
  margin-top: -0.7rem;
  margin-right: 1rem;
  background-color: whitesmoke;
  color: #2a5aa7;
  border-radius: 5px;
  text-align: center;
}

.projectLinkContainer {
  display: flex;
  margin-top: 0.5rem;
}

.projectLink {
  margin-right: 0.7rem;
}

@media only screen and (min-width: 520px) {
  /* Desktop display */
  .projectContainer {
    display: flex;
    flex-direction: row;
  }
  .projectTech {
    border: 1px solid #e3ebf7;
    padding: 4px 4px 2px 4px;
    font-size: 0.9rem;
    margin-left: 1rem;
    background-color: whitesmoke;
    color: #2a5aa7;
    border-radius: 5px;
    text-align: center;
    margin-top: auto;
  }
}
