.ListLink {
  margin-right: 1rem;
}

.Link {
  text-decoration: none;
  color: #222;
}

.Link:hover {
  background-color: whitesmoke;
  border-radius: 6px;
  color: #2a5aa7;
  text-decoration: underline;
}

.Header {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  /* border-bottom: 1px solid darkgray; */
  display: flex;
}

.title {
  display: inline-block;
  color: #2a5aa7;
  margin-left: -2rem;
}

.title:hover {
  text-decoration: underline;
}

.linkList {
  list-style: none;
  float: right;
  display: flex;
}

@media only screen and (min-width: 300px) {
  /* Phone display */
  .title {
    margin-left: -1rem;
    display: inline-block;
    color: #2a5aa7;
  }
}

@media only screen and (min-width: 500px) {
  /* Desktop display */
  .Header {
    margin-bottom: 2rem;
    display: block;
  }
  .title {
    margin-left: 0;
    display: inline-block;
    color: #2a5aa7;
  }
  .Link {
    padding: 0.7rem 1rem;
    text-decoration: none;
    color: #222;
  }
}
