.ListLink {
  padding-right: 0.5rem;
}

.Link {
  text-decoration: none;
  color: #636363;
  margin-right: 0;
  padding: 0.7rem 0.9rem;
  background: transparent;
  font-weight: 400;
}

.Link:hover {
  background-color: whitesmoke;
  border-radius: 6px;
  color: #222;
  background: whitesmoke;
}

.Header {
  margin-bottom: 2.5rem;
  padding-left: 0.9rem;
  background-color: #fafafa;
  /* display: block; */
}

.titleLink {
  background: transparent;
  /* font-size: 1.2rem; */
}

.title {
  display: inline-block;
  color: #2a5aa7;
}

.linkList {
  list-style: none;
  float: right;
  display: flex;
}

/* DESKTOP RESPONSIVENESS */
@media only screen and (min-width: 500px) {
  .Header {
    margin-bottom: 2rem;
  }
}
