.footer {
  margin-top: 4rem;
}

.linkList {
  padding: 0;
}

.linkList li {
  display: inline;
  list-style: none;
}

.linkList li:after {
  content: ' \2022 ';
}

.linkList li:last-child:after {
  content: none;
}
