.ulContainer {
  padding: 0;
}

.footerLink {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.footerLink:hover {
  border-radius: 6px;
  text-decoration: underline;
  background-color: whitesmoke;
}

.footerLink a {
  text-decoration: none;
  color: #6e6e6e;
}

.footerLink a:hover {
  color: #222;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-bottom: 4rem;
  text-align: center;
}

@media screen and (min-width: 720px) {
  footer {
    text-align: left;
  }

  .ulContainer {
    padding: 0;
    margin-left: -0.3rem;
  }

  .footerLink {
    display: inline;
    list-style: none;
    margin: 0 1rem 0 0;
    padding: 1rem;
  }
}
