body {
  font-family: Roboto, sans-serif;
  color: #222;
  letter-spacing: 0.3px;
  /* padding-left: 2rem; */
}

p,
li {
  line-height: 1.5;
}

a {
  color: blueviolet;
}

button {
  border-color: blueviolet;
  transition: 0.4s;
}

button:hover {
  background-color: rgb(138, 43, 226, 0.8);
  border-color: rgb(138, 43, 226, 0.8);
  cursor: pointer;
  color: white;
}
